<h1>Friends</h1>

<%= render 'shared/flash' %> 

<div class="search-area" style="margin-bottom: 20px;">
  <h3>Search Friends</h3>
  <%= form_tag search_friend_path, data: { turbo_stream: true }, method: :get do %>
    <div class="form-group row">
      <div class="col-sm-9">
        <%= text_field_tag :friend, params[:friend], placeholder: "Name or email", autofocus: true, class: "form-control form-control-lg" %>
      </div>
      <div class="col-sm-3">
        <%= submit_tag 'Search', class: "btn btn-success btn-lg" %>
      </div>
    </div>
  <% end %>
</div>

<div id="friend-results" class="mb-4">
</div>

<% if !@friends.empty? %>
  <%= render 'friends/list' %>
<% end %>