<h1>My Portfolio</h1>

<%= render 'shared/flash' %> 

<div class="search-area" style="margin-bottom: 20px;">
  <h3>Search Stocks</h3>
  <%= form_tag search_stock_path, remote: true, method: :get, data: { turbolinks: true } do %>
    <div class="form-group row">
      <div class="col-sm-9">
        <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true, class: "form-control form-control-lg" %>
      </div>
      <div class="col-sm-3">
        <%= submit_tag 'Search', class: "btn btn-success btn-lg" %>
      </div>
    </div>
  <% end %>
</div>

<div id="results" class="mb-4">
  <%= render 'users/result' %> 
</div>

<div id="tracked_stocks">
  <% if !@tracked_stocks.nil? %>
    <%= render 'stocks/list' %>
  <% else %>
    <%= render 'stocks/empty_tracked_stocks' %>
  <% end %>
</div>


